

@font-face {
    font-family: Montserrat-Bold;
    src: url(../font/Montserrat-Bold.otf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../font/Montserrat-Regular.otf);
}

@font-face {
    font-family: CaviarDreams_Bold;
    src: url(../font/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: lora-bold;
    src: url(../font/lora-bold.ttf);
}