
@media screen and (max-width: 1366px) {
    
    
/* laptop   1366x768*/
}


@media screen and (max-width: 1280px) {
     .bg_line_circle {
        margin-right: 5%;
    }
    .donec_body {
        width: 80%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
       
    }
     .donec {
        width: 700px;
        margin-right: 0;
    }
    
/* laptop   1366x768*/
}

@media screen and (max-width: 1024px) {
    .bg_line_circle {
        display: none;
    }
    .donec_body{
        width: 80%;
    }
  
    .donec {
        width: 500px;
        margin-right: 0;
    }
     .group_block_1,
    .group_block_2,
    .group_block_3,
    .group_block_4,
    .group_block_5,
    .group_block_6,
    .group_block_7,
    .group_block_8 {
        width: 45%;
    }
  
/*
    .search{
         border-radius: 5px;
    }
*/
}

@media screen and (max-width: 960px) {
    .block {
        width: 100%;
    }
    
    .group_block_1,
    .group_block_2,
    .group_block_3,
    .group_block_4,
    .group_block_5,
    .group_block_6,
    .group_block_7,
    .group_block_8 {
        width: 45%;
    }
} 

@media screen and (max-width: 768px) {
    .block_1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: space-around;
    }
    .block_1 div>p {
        display: none;
    }
      .nav {
        margin: -25% 0 0 0 ;
        float: none;
    }
    .quality h1 {
        font-size: 3.5em;
    }
    
    
    .nav ul a {
        font-size: 1em;
    }
    
    .music_man {
        display: none;
    }
    
    .block_4 {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .news {
        width: 50%;
        margin: 0;
    }
    .donec {
        
    }
    .block_6 {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        
    }
    
    .block_6>h1 {
        width: 80%;
    }
    .block_6>p {
        width: 80%;
    }
    .search {
        width: 80%;
    }
    
    .Block_7 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .Block_7 p {
        margin: 2em 0;
    }
    
    .Block_1 ul {
        margin-left: 20px;
    }
  
     .block_2 {
        display: none;
    }

}


@media screen and (max-width: 414px) {
    .line_circle {
        background-image: none;
    }
    .line_circle>p {
        padding: 0 0 0 1em;
    }
    .block_6>h1 {
        font-size: 2em;
        width: 90%;
        margin-bottom: 10%;
    }
    .block_6>p {
        width: 90%;
        margin-bottom: 10%;
    }
    .search {
        width: 90%;
       
    }
    .nav ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        
        margin: 50px;
    }
    
 
    
  
     .quality h1 {
        display: none;
    }
    .block_2 {
        display: none;
    }
    .Block_7 {
        height: 100px;
        
        text-align: center;
    }
}


@media screen and (max-width: 320px) {
    .social ul  {
        
        
}
    
}









